{%extends 'base.html'%} {%block content%} {% load crispy_forms_tags %}

<div class="w-100 h-100 d-flex flex-column pt-3 align-items-center">
	<h1>Add Pupper</h1>

	{% if error_message %}
	<p class="red-text">{{ error_message }}</p>
	{% endif %}

	<form
		method="POST"
		enctype="multipart/form-data"
		action="{% url 'dog_create' %}"
	>
		{% csrf_token %}
		<label for="id_image" class="control-label requiredField">
			Profile Photo:</label
		>
		<div class="controls"><input type="file" required name="photo-file" /></div>
		{{ form|crispy }}
		<input type="submit" class="btn mt-1 w-100 btn-success" value="Add Dog" />
	</form>
</div>

<script>
	document.getElementById("id_birthday").setAttribute("type", "date");
</script>
{%endblock%}
