{% extends 'base.html' %} {% block content %}
<h1 class="text-center p-3 display-1 spot-text">
	{{post.creator.name}}'s Post
</h1>
<div class="d-flex flex-column">
	<div class="img-mw mx-auto">
		<img src="{{post.image}}" class="img-fluid rounded" alt="" />
	</div>

	<div
		class="
			border-bottom
			pb-3
			mb-3
			w-100
			d-flex
			flex-row
			align-items-center
			justify-content-start
		"
	>
		<a href="{% url 'dog_detail' post.creator.id  %}">
			<div class="img-crop-s shadow">
				<img
					src="{{post.creator.image}}"
					alt=""
					class="img-thumbnail spot-bg-25 rounded-circle"
					style="width: 80px"
				/>
			</div>
		</a>
		<a href="{% url 'dog_detail' post.creator.id  %}">
			<div class="m-2 d-flex flex-column">
				<span class="fw-bold">{{ post.creator.name }}</span>
				<a href="{% url 'profile_detail' post.creator.profile.id %}"
					><small>{{ post.creator.profile }} - {{post.created_at}}</small></a
				>
			</div>
		</a>
	</div>
	<p class="my-3">{{post.text}}</p>
	{% if post.creator.profile.user.id == user.id %}
	<div>
		<a href="{% url 'post_update' post.id %}"
			><button class="btn text-white spot-bg shadow">Edit post</button></a
		>
		<a href="{% url 'post_delete' post.id %}"
			><button class="btn text-danger">Delete post</button></a
		>
	</div>
	{%endif%}
</div>
<div class="p-3 shadow rounded">
	<h5>Comments</h5>
	<form
		class="d-flex align-items-center justify-content-start"
		action="{% url 'comment_create' post.id %}"
		method="POST"
	>
		{%csrf_token%} {{form.text}}
		<button class="btn spot-text mx-2" type="submit">Add Comment</button>
	</form>
	{% for comment in post.comment_set.all %}
	<hr />
	<a href="{% url 'profile_detail' comment.author.id %}"
		><small>{{comment.author.get_full_name}}</small></a
	>
	<p>{{comment.text}}</p>
	{%endfor%}
</div>

<script>
	function calcHeight(value) {
		let numberOfLineBreaks = (value.match(/\n/g) || []).length;
		// min-height + lines x line-height + padding + border
		let newHeight = 20 + numberOfLineBreaks * 20 + 12 + 2;
		return newHeight;
	}

	let textarea = document.querySelector("#id_text");
	textarea.addEventListener("keyup", () => {
		textarea.style.height = calcHeight(textarea.value) + "px";
	});
</script>
{%endblock%}
