{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<h1>Update Profile</h1>

<!-- Leaving the action empty makes the form post to the same url used to display it -->

<form
	action="{% url 'profile_update' %}"
	enctype="multipart/form-data"
	class="card-panel"
	method="post"
>
	<!-- Django requires the following for security purposes -->
	{% csrf_token %}
	<div class="form-group">
		<label class="form" for="photo-file">Upload Profile Photo</label>
		<input class="form-control" type="file" name="photo-file" />
	</div>
	{{ profile_form|crispy}}

	<button type="submit" class="btn">Submit!</button>
</form>
{% endblock %}
