{%extends 'base.html'%} {%block content%}
<section
	class="d-flex flex-column justify-content-start align-items-center py-3"
	style="min-height: 100vh"
>
	<div class="img-crop">
		{% if profile.image %}
		<img
			src="{{ profile.image }}"
			class="rounded-circle mw-50 mh-50 py-3 my-3 w-100 p-3"
		/>
		{% else %}
		<img
			src="https://styles.redditmedia.com/t5_59clj4/styles/communityIcon_3yigconadhw71.png"
			class="rounded-circle mw-50 mh-50 py-3 my-3 w-100 p-3"
		/>
		{% endif %}
	</div>
	<h1 class="my-3">{{profile.name}}</h1>
	<div>
		<h3>Profile Bio</h3>
		<p>bio:{{ profile.bio }}</p>
		<p>fav snack:{{profile.fav_snack}}</p>
		<p>hobbies: {{profile.hobbies}}</p>
	</div>

	{% if profile.profile.user.id == user.id %}
	<div class="d-flex justify-content-around">
		<a href="/dogs/create/">
			<button class="btn text-white spot-bg">Edit Dog</button>
		</a>
		<a class="btn" href="{% url 'dog_delete' profile.id %}"> Delete Dog </a>
	</div>
	{% endif %}
	<div class="m-3 rounded p-3 shadow" style="min-width: 40vw">
		<h1 class="text-center">Posts</h1>
		<div
			class="d-flex align-items-center justify-content-evenly flex-xl-nowrap"
		>
			{% for post in profile.post_set.all %}
			<div
				class="
					m-1
					d-flex
					flex-column
					align-items-center
					p-3
					m-2
					rounded
					shadow
					spot-bg-25
				"
				style="max-width: max-content"
			>
				<a href="">
					<img
						src="https://styles.redditmedia.com/t5_59clj4/styles/communityIcon_3yigconadhw71.png"
						class="rounded-circle m-3 shadow"
						style="width: 100px"
					/>
				</a>
				<h1>{{ post.text }}</h1>
				{% if profile.user.id == user.id %}
				<a href="">
					<button class="btn btn-block m-1 text-white spot-bg">
						Post as {{dog.name}}
					</button>
				</a>
				{%endif%}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{%endblock%}
