a {
	text-decoration: none;
	color: #5479fa;
	transition: color 200ms ease-in-out;
}
a:hover {
	color: #2f4288;
}

.spot-text {
	color: #5479fa;
}
.spot-text::after {
	content: "";
	height: 10px;
	position: absolute;
	background-color: red;
	left: 0;
	bottom: 0;
}
.spot-bg {
	background-color: #5479fa;
}
.spot-bg-50 {
	background-color: rgba(84, 120, 250, 0.5);
}
.spot-bg-25 {
	background-color: rgba(84, 120, 250, 0.25);
}

summary {
	transition: all 200ms ease-in-out;
}

summary:hover {
	color: #5479fa;
}

body {
	background: rgba(84, 120, 250, 0.1);
}

body > .container {
	background: white;
}

.img-mw {
	max-width: 600px;
}

.mw-60 {
	max-width: 60rem;
}

.img-crop {
	width: 100%;
	max-width: 400px;
	height: 400px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.img-crop > img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

